<mat-card
  [class.shift-card]="true"
  [class.shift-full]="isShiftFull()"
  (click)="shiftClicked.emit()"
>
  <mat-card-content>
    <h4>Volunteer Opportunity</h4>
    <p>
      {{ formatTime(shift.StartTime) }} -
      {{ formatTime(shift.EndTime) }}
    </p>
    <div class="capacity-indicator">
      <div class="capacity-bar">
        <div
          class="capacity-filled"
          [style.width]="percentFilled + '%'"
        ></div>
      </div>
      <div class="capacity-text">
        <span *ngIf="isShiftFull()" class="full-indicator">FULL</span>
        <span *ngIf="!isShiftFull()">
          {{ filledSlots }}/{{ shift.Capacity }} spots
        </span>
      </div>
    </div>
  </mat-card-content>
  <div class="card-overlay">
    <mat-icon>{{ isAdminMode ? 'edit' : 'event_available' }}</mat-icon>
    <span>{{ isAdminMode ? 'Manage Shift' : 'View Details' }}</span>
  </div>
</mat-card>
