<section class="donations">
  <div class="hero">
    <h1>Donations</h1>
  </div>
</section>
<div class="features">
  <div class="feature">
    <h2>Recurring payments</h2>
    <p>
      Encourage everyone for recurring payments so we do not need to do
      fundraising every time. If you wish to support us via a fundraiser or food
      drive, please contact us first to tell us. We can help advertise the event
      on our Facebook page and mailing list.
    </p>
  </div>

  <div class="feature">
    <h2>Go Shopping</h2>
    <p>
      The next time you are shopping, pick up an extra box of trash bags for us!
      Beyond food, we also need many of the household items you buy for your
      home. Here is a list of items we need help purchasing: Trash Bags
      (35-to-55-gallon size), Ziplock bags (large quart size and sandwich size),
      Dish Soap, Powder Drink Mix, Canned Milk, Sugar, Canned Fruit and Apple
      Sauce, Aluminum Foil, Freezer Bags (quart size), Packaged Cookies.
    </p>
  </div>

  <div class="feature">
    <h2>Food and Supplies Drop Off</h2>
    <p>
      Our doors are always open. Literally. Our door is unlocked from 9 am until
      4:00 pm every weekend (Saturday and Sunday) where you can drop off food
      and supplies. There is a refrigerator and shelves available inside for all
      your donations. If you are dropping off food from a caterer, please make
      sure it is placed in the refrigerator.
    </p>
  </div>
</div>
