<section class="volunteers">
  <div class="hero">
    <h1>For Volunteers</h1>
    <p>Join our amazing community of volunteers and make a difference</p>
  </div>

  <div class="features">
    <div class="feature">
      <h2>How do I register to volunteer?</h2>
      <p>Go to <a href="https://www.signupgenius.com/go/10C0A4DAEA92EA4FFC16-50454986-soup/102277891#/">this sign-up sheet</a>,
      select the date you would like to sign up for, and enter your name.</p>
    </div>

    <div class="feature">
      <h2>Where do I drop off food donations?</h2>
      <p>Contact Empathy Soup Kitchen members.</p>
    </div>

    <div class="feature">
      <h2>How do I volunteer?</h2>
      <p>We would love to have you join our amazing group of volunteers. 
        Please contact us by emailing us. You can serve any weekend or volunteer a 
        group to help.</p>
        <!-- TODO: Add email address here -->
    </div>

    <div class="feature">
      <h2>Can I just show up and volunteer?</h2>
      <p>We appreciate your enthusiasm, but we do schedule all our volunteers. 
        We will let you know when we need help and give you a few options to help serve.</p>
    </div>

    <div class="feature">
      <h2>What do volunteers do?</h2>
      <p>Our volunteers help serve guests and clean the kitchen after each meal. 
        After serving dinner the floors are swept, tables cleaned, dishes cleaned, 
        and we get the dining room ready for the next day's meal.</p>
    </div>

    <div class="feature">
      <h2>What time should I be there?</h2>
      <p>We begin serving at 1:00 pm so please arrive at 12:50 pm.  
        We typically are done no later than 2:00 pm.</p>
    </div>
  </div>

  <div class="info-section">
    <h2>Thankful to Volunteers</h2>
    <p>We cannot do it without you! Our volunteers help prepare the meals, serve the meals, clean the dishes, and sweep the floors.</p>
    <p>We are blessed with many volunteers, but we are always looking for more.</p>
    <p>If you have a group from work, or the family, we would love to have you visit once a month or once a quarter, whatever fits your schedule.</p>
    <p>When you volunteer to serve dinner, the meal will be prepared before you arrive. You will help get the dining room ready for our guests and welcome the guests as they arrive. Guests are invited to sit in any open seat and volunteers bring the meals to them. After the meal is over, the dishes are cleaned, the floors swept, and the dining hall cleaned for the next day.</p>
    <p>To volunteer, please complete and submit the volunteer form. Someone will call or email you back to schedule a time for you to help.</p>
  </div>
</section>
